@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    border: 1px solid red;
    max-width: 600px;
    min-width: 400px;
    max-height: 600px;
    overflow: auto;
    display: inline-block;
}